@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.blue-button {
  font-family: "PT Sans", sans-serif;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.brown-button {
  font-family: "PT Sans", sans-serif;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.page-hader-logo-link {
  display: block;
  margin: 0 auto;
}

.navigation {
  display: flex;
}

.navigation-item .brown-button {
  padding: 9px 37px 10px;
  border-radius: 4px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  padding: 24px 11px;
  min-height: 18px;
  min-width: 18px;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.main-index {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.welcome {
  background-image: url("../img/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.welcome-logo {
  padding: 51px 0 83px;
}

.reasons-container {
  padding: 63px 240px 79px;
}

.advantages {
  background-color: #83b3d31f;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-image {
  width: 800px;
}

.advantages-image-text {
  width: 400px;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-list-services {
  display: flex;
  padding: 0;
  background: #ffffff;
  list-style-type: none;
}

.advantages-item-services {
  background: #83b3d31f;
  color: #000000;
  width: 400px;
}

.advantages-item-services .advantages-discription {
  padding: 0 75px 79px;
}

.advantages-discription {
  color: #333333;
  margin: 0;
  padding: 0 75px 77px;
}

.advantages-discription-1,
.advantages-discription-2 {
  color: #ffffff;
  margin: 0;
  padding: 0 90px 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 98px 114px 25px;
}

.advantages-number {
  margin: 0;
  padding-bottom: 26px;
}

.advantages-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #ffffff;
  background-color: #83b3d3;
  width: 1200px;
}


.advantages-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: #ffffff;
  background-color: #83b3d3;
  width: 1200px;
}

.food {
  background-color: #ffffff;
  color: #000000;
}

.road {
  background: #83b3d333;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-button {
  display: block;
  max-width: 575px;
  font-size: 20px;
  line-height: 36px;
  padding: 13px 0 17px;
  border-radius: 10px;
  margin: 0 auto 91px;
}

.hotel-search .title {
  margin: 0 0 15px;
  padding: 91px 240px 0;
}

.hotel-search-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 58px;
  padding: 0 240px 0;
}


.newsletter-email {
  background-color: #333333;
  background-image: url("../img/newsletter-email-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
}

.newsletter-email-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 15px;
  padding: 94px 240px 0;
}

.newsletter-email-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 26px;
  padding: 0 240px;
}

.newsletter-email-form {
  padding: 0 200px 93px;
}

.social-button {
  background-color: #83b3d3;
}

/* Каталог */

.catalog-filter-block {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../img/catalog/catalog-filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 35px 72px 83px;
}


.main-catalog {
  text-align: left;
  color: #333333;
  background-color: #ffffff;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 5px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style-type: none;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.control-label {
  font-weight: 400;
}

.product-card {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.product-card-rating {
  font-size: 16px;
  background: #f2f2f2;
  color: #333333;
  text-transform: uppercase;
}

.green-button {
  background-color: #7db54f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: transparent;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding: 31px 72px 89px;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px 15px;
  text-align: center;
}

.hotels-on-page {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-link,
.pagination-show-more,
.submit-button {
  font-size: 20px;
  line-height: 26px;
}

.newsletter-email-catalog {
  text-align: center;
  color: #333333;
}

.newsletter-email-catalog .title {
  margin: 0 240px 15px;
}

.newsletter-email-discription-catalog {
  font-size: 22px;
  line-height: 26px;
  margin: 0 240px 26px;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 72px 30px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts-phone-link {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 720px;
}

.footer-logo {
  margin-left: auto;
}

.footer-social-item {
  min-height: 20px;
  min-width: 20px;
  margin-right: 20px;
  padding: 10px;
}

.footer-social-item:nth-child(3) {
  margin-right: 0;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 72px 42px 71px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.sorting-container-button {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  min-width: 287px;
  padding: 12px 16px;
}

.catalog-filter {
  display: flex;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.breadcrumbs-item {
  margin-right: 26px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
