@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.blue-button {
  font-family: "PT Sans", sans-serif;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 4px;
}

.brown-button {
  font-family: "PT Sans", sans-serif;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border:none;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 4px;
}

.page-hader-logo-link {
  display: block;
  margin: 0 auto;
}

.navigation {
  display: flex;
}

.navigation-item .brown-button {
  padding: 9px 37px 10px;
  border-radius: 4px;
  margin-left: 22px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-item {
  margin: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  margin-right: 72px;
  justify-content: flex-end;
}

.navigation-item .navigation-link {
  padding: 24px 12px;
  min-height: 18px;
  min-width: 18px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: solid 3px transparent;
}

.navigation-link:hover {
 color: #756257;
}

.navigation-link:focus {
  border: solid 3px #83b3d3;
  outline: 0;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
 }

 .navigation-link:focus .navigation-icon {
  fill: #756257;
 }
 
.brown-button:hover {
  background-color: #615048;
 }

 .brown-button:focus {
  border: solid 3px #83b3d3;
  background-color: #615048;
  outline: 0;
 }

 .search-button:hover {
   background-color: #615048;
 }

 .search-button:focus {
  border: solid 3px #83b3d3;
  border-radius: 10px;
  background-color: #615048;
  outline: 0;
 }

 .newsletter-email-form .submit-button:hover {
   background-color: #68A2CA;
 }

 .newsletter-email-form .submit-button:focus {
  border: solid 3px #756257;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #68A2CA;
  outline: 0;
 }

 .blue-button:hover {
  background-color: #68A2CA;
  outline: 0;
 }

 .blue-button:focus {
  border: solid 3px #756257;
  border-radius: 4px;
  background-color: #68A2CA;
  outline: 0;
 }

 .social-link:focus {
  border: solid 3px #83B3D3;
  border-radius: 10px;
  outline: 0;
}

 .social-link:hover .twitter-icon {
   fill: #68A2CA;
 }

.social-link:focus .twitter-icon  {
  fill: #68A2CA;
}

.social-link:hover .facebook-icon {
  fill: #68A2CA;
}

.social-link:focus .facebook-icon {
  fill: #68A2CA;
}

.social-link:hover .youtube-icon {
  fill: #68A2CA;
}

.social-link:focus .youtube-icon  {
 fill: #68A2CA;
}


.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon-favourites {
  position: relatie;
}

.navigation-icon-circle {
  position: absolute;
  top: 14px;
  left: 23px;
}

.main-index {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.welcome {
  position: relative;
  background-image: url("../img/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.welcome-logo {
  padding: 51px 0 83px;
}

.welcome-decoration {
  position: absolute;
  bottom: 4px;
  left: 0;
}

.reasons-container {
  padding: 63px 240px 79px;
}

.advantages {
  background-color: #83b3d31f;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-image {
  width: 800px;
}

.advantages-image-text {
  width: 400px;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-list-services {
  display: flex;
  padding: 0;
  background: #ffffff;
  list-style-type: none;
}

.services-logo-house {
  padding: 89px 162px 23px;
}

.services-logo-food {
  padding: 91px 163px 23px;
}

.services-logo-souvenirs {
  padding: 85px 168px 23px;
}

.advantages-item-services {
  background: #83b3d31f;
  color: #000000;
  width: 400px;
}

.advantages-item-services .advantages-title {
  padding-top: 0;
}

.advantages-item-services .advantages-discription {
  padding: 0 75px 79px;
}

.advantages-discription {
  color: #333333;
  margin: 0;
  padding: 0 75px 77px;
}

.advantages-discription-1,
.advantages-discription-2 {
  color: #ffffff;
  margin: 0;
  padding: 0 90px 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 98px 114px 25px;
}

.advantages-number {
  margin: 0;
  padding-bottom: 26px;
}

.advantages-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #ffffff;
  background-color: #83b3d3;
  width: 1200px;
}


.advantages-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: #ffffff;
  background-color: #83b3d3;
  width: 1200px;
}

.food {
  background-color: #ffffff;
  color: #000000;
}

.road {
  background: #83b3d333;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-button {
  display: block;
  max-width: 575px;
  font-size: 20px;
  line-height: 36px;
  padding: 13px 0 17px;
  border-radius: 10px;
  margin: 0 auto 91px;
}

.hotel-search .title {
  margin: 0 0 15px;
  padding: 91px 240px 0;
}

.hotel-search-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 58px;
  padding: 0 240px 0;
}


.newsletter-email {
  background-color: #333333;
  background-image: url("../img/newsletter-email-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
}

.newsletter-email-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 15px;
  padding: 94px 240px 0;
}

.newsletter-email-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 26px;
  padding: 0 240px;
}

.newsletter-email-form {
  display: flex;
  justify-content: center;
  padding: 0 200px 93px;
}

.field {
  background-color: #f2f2f2;
  border: none;
}

.field:hover {
  background-color: #e5e5e5;
}

.field:focus {
  border: solid 3px #83B3D3;
  outline: none;
}

.newsletter-email-form .field {
  width: 600px;
  padding: 0 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

/* Каталог */

.catalog-filter-block {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../img/catalog/catalog-filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 35px 72px 83px;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-group {
  padding: 0;
  margin-right: 68px;

}

.catalog-filter-group:nth-child(2) {
  margin-right: 167px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 81px;
}


.main-catalog {
  text-align: left;
  color: #333333;
  background-color: #ffffff;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 5px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.control-label {
  font-weight: 400;
}

.product-card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card-item {
  display: grid;
  grid-template-columns: 180px 36px 151px 520px 160px;
  grid-template-rows: min-content 1fr auto;
  padding: 30px 72px 31px;
}

.product-card-title {
  grid-column: 3 / -2;
  grid-row: 1 / -3;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.product-card-link  {
  text-decoration: none;
  grid-column: 1 / -5;
  grid-row:  1 / -1;
}

.product-card-type {
  grid-column: 3 / -3;
  grid-row: 2 / -2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: start;
}

.product-card-price {
  grid-column: 4 / -2;
  grid-row: 2 / -2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: start;
  margin-left: 8px;
}



.product-card-item .brown-button {
  grid-column: 3 / -3;
  grid-row:  3 / -1;
  align-self: end;
  justify-self: start;
  text-align: center;
  border-radius: 4px;
  padding: 9px 31px 10px;
}

.product-card-item .blue-button {
  grid-column: 4 / -2;
  grid-row:  3 / -1;
  align-self: end;
  justify-self: start;
  text-align: center;
  border-radius: 4px;
  padding: 9px 30px 10px;
  margin-left: 8px;
}

.product-card-item .green-button {
  grid-column: 4 / -2;
  grid-row:  3 / -1;
  align-self: end;
  justify-self: start;
  text-align: center;
  border-radius: 4px;
  padding: 9px 28px 10px;
  margin-left: 8px;
}

.product-card-rating {
  grid-column: 5 / -1;
  grid-row:  1 / -1;
  font-size: 16px;
  background: #f2f2f2;
  color: #333333;
  text-transform: uppercase;
  align-self: end;
  justify-self: start;
  text-align: center;
  border-radius: 4px;
  padding: 9px 27px 10px;
  /*grid-area: card-rating;*/

}

.green-button {
  background-color: #7db54f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: solid 3px transparent;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: transparent;
  border: none;
  width: 160px;
}

.pagination-show-more {
  display: block;
  margin: 31px auto 30px;
  width: 625px;
  height: 55px;
  border-radius: 4px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding: 31px 72px 89px;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px 15px;
  text-align: center;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
}

.hotels-on-page {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-link,
.pagination-show-more,
.submit-button {
  font-size: 20px;
  line-height: 26px;
}

.submit-button {
  width: 200px;
  height: 60px;
  border: solid 3px transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;;
}

.newsletter-email-catalog {
  text-align: center;
  color: #333333;
}

.newsletter-email-catalog .title {
  margin: 0 240px 15px;
}

.newsletter-email-discription-catalog {
  font-size: 22px;
  line-height: 26px;
  margin: 0 340px 26px;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 72px 30px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid transparent;
  width: 40px;
  height: 40px;
 /* background-image: url('../img/social/twitter.svg');
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 15px;*/
}

/*.social-button-fb {
  display: block;
  background-image: url('../img/social/facebook.svg');
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 18px;
}

.social-button-youtube {
  display: block;
  background-image: url('../img/social/youtube.svg');
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 16px;
}*/

.contacts-phone-link {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 720px;
}

.footer-logo {
  margin-left: auto;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 72px 42px 71px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

/*.button-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button-single {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}*/

.sorting-container-button {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  min-width: 287px;
  padding: 12px 16px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-button .blue-button {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: none;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.breadcrumbs-item {
  margin-right: 26px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
