@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 25px 50px rgb(0 0 0 / 15%)
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.blue-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 4px;
}

.brown-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border:none;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 4px;
}

.page-hader-logo-link {
  display: block;
  margin: 0 auto;
}

.navigation {
  display: flex;
  position: relative;
}

.navigation-item .brown-button {
  display: block;
  padding: 4px 0 6px;
  border-radius: 4px;
  margin-left: 22px;
  min-width: 160px;
  box-sizing: border-box;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-item {
  margin: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  margin-right: 72px;
  justify-content: flex-end;
}

.navigation-item .navigation-link {
  padding: 17px 14px;
  min-height: 18px;
  min-width: 18px;
}

.navigation-user .navigation-link {
  padding: 18px 8px 14px;
  min-height: 18px;
  min-width: 18px;
}


.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: solid 3px transparent;
}

.navigation-logo-link {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 138px;
  height: 70px;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 10px;
  z-index: 1;
}

.navigation-logo-link:focus {
  border-color: #83b3d3;
  outline: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 11px;
  left: 11px;
  height: 2px;
  bottom: -5px;
  background-color: #756257;
  content: "";
}

.navigation-link:hover {
 color: #756257;
}

.navigation-link:focus {
  border: solid 3px #83b3d3;
  outline: 0;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  opacity: 0.3;
}

.brown-button:hover {
  background-color: #615048;
}

.brown-button:focus {
  border: solid 3px #83b3d3;
  background-color: #615048;
  outline: 0;
}

.brown-button:active {
   color: rgba(255, 255, 255, 0.3);
}

.search-button:hover {
   background-color: #615048;
}

.search-button:focus {
  border: solid 3px #83b3d3;
  border-radius: 10px;
  background-color: #615048;
  outline: 0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-email-form .submit-button:hover {
   background-color: #68A2CA;
}

.newsletter-email-form .submit-button:focus {
  border: solid 3px #756257;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #68A2CA;
  outline: 0;
}

.blue-button:hover {
  background-color: #68A2CA;
  outline: 0;
}

.blue-button:focus {
  border: solid 3px #756257;
  border-radius: 4px;
  background-color: #68A2CA;
  outline: 0;
}

.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-link:focus {
  border: solid 3px #83B3D3;
  border-radius: 10px;
  outline: 0;
}

.social-link:focus .social-icon  {
  fill: #68A2CA;
}
.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: 0;
}

.catalog-filter-button .blue-button:focus {
  border: 3px solid #ffffff;
}

.catalog-filter-button .blue-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:hover {
 color: #e5e5e5;
  }

.button-reset:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: 0;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.select-control:hover {
  border: 2px solid #83B3D3;
}

.select-control:focus {
  border: 2px solid #83B3D3;
  outline: 0;
}

.select-control:active {
  border-color: #e5e5e5;
  color: rgba(51, 51, 51, 0.3);
}

.card-grid-toggle:hover {
  border: 2px solid #83B3D3;
}

.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
  outline: 0;
}

.product-card-link:hover {
  opacity: 0.6;
}

.product-card-link:focus {
  border: 3px solid #83B3D3;
  outline: 0;
}

.product-card-link:active {
  opacity: 0.3;
}

.product-card-title:hover {
color: #756257;
}

.product-card-title:focus {
  outline: none;
}

.product-card-title:focus::before {
  border-color: #83b3d3;
}

.product-card-title:active {
  opacity: 0.3;
}

.contacts-phone-link:hover {
color: #756257;
}

.contacts-phone-link:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.contacts-phone-link:active {
 color: rgba(117, 98, 87, 0.3);
}

.footer-logo-link:hover .footer-logo{
  fill: #756257;
}

.footer-logo-link:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon-favourites {
  position: relative;
}

.navigation-icon-circle {
  position: absolute;
  top: 11px;
  left: 20px;
}

.main-index {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.welcome {
  position: relative;
  background-color: #ffffff;
  background-image: url("../img/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  text-align: center;
}

.welcome-logo {
  padding: 51px 0 83px;
  vertical-align: bottom;
}

.welcome-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
}

.reasons-container {
  padding: 61px 240px 80px;
}

.advantages {
  background-color: #83b3d31f;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-image {
  width: 800px;
}

.advantages-image-text {
  width: 400px;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-list-services {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background: #ffffff;
  list-style-type: none;
}

.services-logo-food {
  padding: 91px 163px 23px;
}

.services-logo-souvenirs {
  padding: 85px 168px 23px;
}

.advantages-item-services {
  background: #83b3d31f;
  color: #000000;
  width: 400px;
}

.advantages-item-services .advantages-title {
  padding: 185px 0 19px;
}

.house {
  background-image: url('../img/icons/house.svg');
  background-repeat: no-repeat;
  background-position-y: 89px;
  background-position-x: center;
}

.food {
  background-image: url('../img/icons/burger.svg');
  background-repeat: no-repeat;
  background-position-y: 91px;
  background-position-x: center;
}

.souvenirs {
  background-image: url('../img/icons/souvenirs.svg');
  background-repeat: no-repeat;
  background-position-y: 85px;
  background-position-x: center;
}


.advantages-item-services .advantages-discription {
  position: relative;
  padding: 0 75px 89px;
}

.advantages-discription {
  color: #333333;
  margin: 0;
  padding: 0 69px 106px;
}

.advantages-discription-1,
.advantages-discription-2 {
  color: #ffffff;
  margin: 0;
  padding: 0 90px 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 98px 114px 27px;
}

.advantages-number {
  margin: 0;
  padding-bottom: 31px;
}

.advantages-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #ffffff;
  background-color: #83b3d3;
  width: 1200px;
}


.advantages-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: #ffffff;
  background-color: #83b3d3;
  width: 1200px;
}

.food {
  background-color: #ffffff;
  color: #000000;
}

.road {
  background: #83b3d333;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 33px;
}

.search-button {
  display: block;
  max-width: 575px;
  font-size: 20px;
  line-height: 36px;
  padding: 10px 0 10px;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hotel-search {
  padding: 90px 240px 89px;
}

.hotel-search .title {
  margin: 0 0 30px;
}

.hotel-search-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 58px;
}


.newsletter-email {
  background-color: #333333;
  background-image: url("../img/newsletter-email-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
  padding: 92px 200px 94px;
}

.newsletter-email-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.newsletter-email-discription {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 0 47px;
}

.newsletter-email-form {
  display: flex;
  justify-content: center;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.field:hover {
  background-color: #e5e5e5;
}

.newsletter-email-form .field:focus:invalid {
  border: 3px solid #ff5757;
}

.newsletter-email-form .field:focus {
  border: solid 3px #83B3D3;
  outline: none;
}

.newsletter-email-form .field:focus {
  border: 3px solid #000000;
}

.newsletter-email-form .field {
  width: 600px;
  padding: 0 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 3px transparent;
  box-sizing: border-box;
}

.catalog-filter-block {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../img/catalog/catalog-filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 35px 72px 71px;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-group {
  padding: 0;
  margin-right: 60px;
  margin-left: 0;
  border: none;
  max-width: 300px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 170px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 82px;
}


.main-catalog {
  text-align: left;
  color: #333333;
  background-color: #ffffff;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  margin-top: 0;
  margin-bottom: 2px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 192px;
}

.control-label {
  font-weight: 400;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  line-height: 23px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"]:hover + .control-mark {
  background-color: #ffffff;
}

.control-input[type="checkbox"]:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:focus + .control-mark {
  background-color: #ffffff;
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.product-card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url('../img/icons/checked.svg');
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: "";
}

.product-card-item {
  position: relative;
  display: grid;
  grid-template-columns: 186px 30px 151px 529px 160px;
  grid-template-rows: min-content 1fr auto;
  padding: 25px 72px 30px;
}

.product-card-item::after {
  position: absolute;
  height: 1px;
  background-color: #e5e5e5;
  left: 0;
  right: 0;
  margin-left: 72px;
  margin-right: 72px;
  content: "";
}

.product-card-title {
  grid-column: 3 / -2;
  grid-row: 1 / -3;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  text-decoration: none;
  justify-self: start;
  position: relative;
}

.product-card-title::before {
  position: absolute;
  border: 3px solid transparent;
  border-radius: 10px;
  left: -15px;
  right: -15px;
  top: -4px;
  bottom: -4px;
  content: "";
}


.product-card-link  {
  text-decoration: none;
  grid-column: 1 / -5;
  grid-row:  1 / -1;
  border: 3px solid transparent;
}

.product-card-image {
  vertical-align: bottom;
}

.product-card-type {
  grid-column: 3 / -3;
  grid-row: 2 / -2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: start;
}

.product-card-price {
  grid-column: 4 / -2;
  grid-row: 2 / -2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: start;
  margin-left: 8px;
}

.product-card-item .brown-button {
  grid-column: 3 / -3;
  grid-row:  3 / -1;
  align-self: end;
  justify-self: start;
  text-align: center;
  border-radius: 4px;
  padding: 6px 0 5px;
  width: 151px;
  box-sizing: border-box;
}

.product-card-item .blue-button {
  grid-column: 4 / -2;
  grid-row:  3 / -1;
  align-self: end;
  justify-self: start;
  text-align: center;
  border-radius: 4px;
  padding: 6px 0 5px;
  margin-left: 8px;
  width: 160px;
  box-sizing: border-box;
}

.product-card-item .blue-button:hover {
  border: 1px solid #756257;
  padding: 8px 0 7px;
}

.product-card-item .blue-button:active {
  border: 1px solid #756257;
  padding: 8px 0 7px;
}


.green-button {
  grid-column: 4 / -2;
  grid-row:  3 / -1;
  align-self: end;
  justify-self: start;
  text-align: center;
  border-radius: 4px;
  padding: 6px 0 5px;
  margin-left: 8px;
  width: 160px;
  box-sizing: border-box;
  background-color: #7db54f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: 3px solid transparent;
}

.product-card-rating {
  grid-column: 5 / -1;
  grid-row:  1 / -1;
  font-size: 16px;
  background: #f2f2f2;
  color: #333333;
  text-transform: uppercase;
  align-self: end;
  text-align: center;
  border-radius: 4px;
  padding: 8px 27px 8px;
}

.four-star::before {
  grid-column: 5 / -1;
  grid-row: 1 / -3;
  background-image: url('../img/icons/star.svg'),
   url('../img/icons/star.svg'),
   url('../img/icons/star.svg'),
   url('../img/icons/star.svg');
  background-repeat: no-repeat;
  background-position: 0, 25px, 50px, 73px;
  justify-self: center;
  align-self: center;
  width: 94px;
  height: 17px;
  content: "";
}

.three-star::before {
  grid-column: 5 / -1;
  grid-row: 1 / -3;
  background-image: url('../img/icons/star.svg'),
   url('../img/icons/star.svg'),
   url('../img/icons/star.svg');
  background-repeat: no-repeat;
  background-position: 0, 25px, 50px;
  justify-self: center;
  align-self: center;
  width: 68px;
  height: 17px;
  content: "";
}

.two-star::before {
  grid-column: 5 / -1;
  grid-row: 1 / -3;
  background-image: url('../img/icons/star.svg'),
   url('../img/icons/star.svg');
  background-repeat: no-repeat;
  background-position: 0, 25px;
  justify-self: center;
  align-self: center;
  width: 43px;
  height: 17px;
  content: "";
}

.green-button:hover {
  background-color: #6c9e42;
 }

.green-button:focus {
  border-color: #756257;
  outline: 0;
}

.green-button:active {
  background-color: #6c9e42;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  background: transparent;
  border: none;
  min-width: 160px;
  cursor: pointer;
  margin-top: 12px;
  border: 3px solid transparent;
}

.pagination-show-more {
  position: relative;
  display: block;
  margin: 31px auto 30px;
  width: 625px;
  height: 55px;
  border-radius: 4px;
}

.show-more-container {
  position: relative;
}

.show-more-container::before {
  position: absolute;
  height: 1px;
  background-color: #e5e5e5;
  left: 0;
  right: 0;
  top: -31px;
  margin-left: 72px;
  margin-right: 72px;
  content: "";
  }

.show-more-container::after {
  position: absolute;
  height: 1px;
  background-color: #e5e5e5;
  left: 0;
  right: 0;
  bottom: -30px;
  margin-left: 72px;
  margin-right: 72px;
  content: "";
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding: 31px 72px 28px;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 11px 11px;
  text-align: center;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
  border: 3px solid transparent;
}

.hotels-on-page {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  min-width: 386px;
  padding-bottom: 5px;
}

.hotels-on-page .select-control {
  margin-left: 51px;
  max-width: 160px;
}

.pagination-link,
.pagination-show-more,
.submit-button {
  font-size: 20px;
  line-height: 26px;
}

.submit-button {
  width: 200px;
  height: 60px;
  border: solid 3px transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;;
}

.newsletter-email-catalog {
  text-align: center;
  color: #333333;
  padding: 50px 188px 138px;
}

.newsletter-email-discription-catalog {
  font-size: 22px;
  line-height: 26px;
  padding: 0 145px;
  margin-bottom: 44px;
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 69px 30px 61px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 14px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid transparent;
  width: 40px;
  height: 40px;
}

.contacts-phone-link {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  border: 3px solid transparent;
  outline: 0;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 160px;
  border: 3px solid transparent;
  outline: 0;
}

.footer-social-item {
  margin-right: 3px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 18px 63px 19px 69px;
  margin-right: 8px;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.sorting-container-button {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 8px;
}

.select {
  position:relative;
  width: 287px;
  margin-right: 83px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  width: 100%;
  padding: 10px 35px 10px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url('../img/icons/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 17px center ;
  appearance: none;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-button {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.catalog-filter-button .blue-button {
  min-width: 160px;
  min-height: 48px;
  border-radius: 4px;
  border: 3px solid transparent;
  margin-top: 20px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}
.breadcrumbs-item {
  position: relative;
  margin-right: 8px;
}

.breadcrumbs-item::after {
  position: absolute;
  background-image: url('../img/icons/breadcrumbs-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  top: 8px;
  left: 22px;
  content: "";
}


.breadcrumbs-home {
  display: block;
  background-image: url("../img/icons/home.svg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: left;
  border: 3px solid transparent;
  width: 28px;
  height: 27px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-current {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid transparent;
  width: 89px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  background-color: #ffffff;
  height: 4px;
}

.range-toggle {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border:none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4)
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
}

.range {
  width: 287px;
  margin-bottom: 14px;
}

.range-input {
  position: relative;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 82px;
  margin-top: 34px;
  outline: 0;
  padding: 11px 40px 11px 19px;
}

.min-price {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #ffffff;
}

.max-price {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #ffffff;
}

.price-label {
 position: absolute;
 font-family: "PT sans", sans-serif";
 font-size: 18px;
 line-height: 23px;
 font-weight: 400;
 top: 45px;
 right: 15px;
 color: rgba(255, 255, 255, 0.3);
}

.max-price-label {
  position: absolute;
}

.range-input:hover {
 border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  box-shadow: 0px 0px 0px 3px #81b3d2,
  0 0 0 3px #81b3d2 inset;
}

.range-input:active {
  background-color: #756257;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.popover {
  position: absolute;
  top: 61px;
  right: 72px;
  width: 400px;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  min-height: 150px;
  background-color: #ffffff;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  z-index: 1;
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  top: 0;
  margin-left: -7px;
  margin-top: -8px;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;;
  transform: rotate(45deg);
  content: "";
}

.popover-content {
  height: 100%;
  padding: 20px;
}

.favourites-item {
  display: flex;
  justify-content: space-between;
}

.favourites-link {
  display: grid;
  grid-template-columns: 48px 17px 175px;
  grid-template-rows: auto auto auto;
  text-decoration: none;
  justify-items: start;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 3px 1px;
}

.favourites-link:hover {
  opacity: 0.6;
}

.favourites-link:focus {
  border-color: #83b3d3;
  outline: none;
}

.favourites-link:active {
  opacity: 0.3;
  border-color: transparent;
}

.favourites-link-image {
  grid-column: 1 / -3;
  grid-row: 1 / -1;
}

.favourites-item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.favourites-item:first-child {
  margin-bottom: 13px;

}

.favourites-item-title {
  grid-column: 3 / -1;
  grid-row: 1 / -3;
  margin: 0;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #000000  ;
}

.favourites-item-type {
  grid-column: 3 / -1;
  grid-row: 2 / -2;
  margin: 0;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #333333;
  }

.favourites-delete-button {
  background-color: transparent;
  width: 29px;
  height: 43px;
  cursor: pointer;
  align-self: start;
  border-color: transparent;
  border: 3px solid transparent;
  border-radius: 10px;
}

.delete-button-image {
  fill: rgba(32, 15, 15, 0.2);
}

.favourites-delete-button:hover .delete-button-image {
  fill: #000000;
}

.favourites-delete-button:focus .delete-button-image {
  fill: #000000;
}

.favourites-delete-button:focus {
  border-color: #83b3d3;
  outline: 0;
}

.favourites-delete-button:active {
  opacity: 0.1;
  border-color: transparent;
}

.all-favourites-button {
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  display: "PT sans", sans-serif;
  border-radius: 0 0 20px 20px;
  text-transform: uppercase;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding: 15px 0;
  border: 3px solid transparent;
  outline: 1px solid #756257;
}

.all-favourites-button:hover {
  background-color: #615048;
}

.all-favourites-button:focus {
  border-color: #83b3d3;
  outline: 0;
}

.all-favourites-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
  display: none;
  overflow: auto;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-open {
  display: flex;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 575px;
}

.modal-search {
  max-width: 575px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  left: 592px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  background-image: url('../img/icons/modal-close-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}
.modal-close-button:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal-title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 60px;
  font-family: "PT sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
}

.field-title {
  position: relative;
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  color: #000000;
  width: 155px;
  text-align: start;
}

.date-form-field {
  position: relative;
  width: 420px;
  margin-left: auto;
  border-radius: 4px;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 42px;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 45px;
  color: #000000;
  box-sizing: border-box;
  outline: 0;
  border: 3px solid transparent;
}

.date-form-field::placeholder {
  color: #000000;
}

.date-form-field:focus {
  border-color: #83b3d3;
}
.date-form-field:active {
  border-color: #000000;
}

.calendar-button {
  position: absolute;
  background-image: url('../img/icons/calendar.svg');
  top: 18px;
  right: 19px;
  width: 15px;
  height: 15px;
  border: none;
  opacity: 0.3;
}

.arrival-field-comment {
  position: absolute;
  top: 55px;
  left: 155px;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #ff5757;
}

.departure-field-comment {
  position: absolute;
  top: 55px;
  left: 155px;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #333333;
}

.people-number-container {
  display: flex;
  justify-content: space-between;
}

.number-form-field {
  position: relative;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 44px;
  font-weight: 700;
  color: #000000;
  width: 133px;
  border-radius: 4px;
  padding: 0 35px;
  box-sizing: border-box;
  text-align: center;
  border: 3px solid transparent;
}

.number-form-field:focus {
border-color: #83b3d3;
outline: 0;
}

.number-form-field::-webkit-outer-spin-button,
.number-form-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.outer-spin-button,
.inner-spin-button {
  position: absolute;
  width: 26px;
  height: 26px;
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: transparent;
}

.outer-spin-button {
  top: 12px;
  left: 95px;
}

.outer-spin-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 0.3);
}

.outer-spin-button:hover .outer-spin-image{
  fill: #000000;
}

.outer-spin-button:focus {
  border-color: #83b3d3;
  outline: 0;
}

.outer-spin-button:focus .outer-spin-image {
  fill: #000000;
}

.outer-spin-button:active .outer-spin-image {
  fill: rgba(0, 0, 0, 0.2);
}

.outer-spin-button:active {
  border-color: transparent;
}

.inner-spin-button {
  top: 12px;
  left: 12px;
}

.inner-spin-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 0.3);
}

.inner-spin-button:hover .inner-spin-image{
  fill: #000000;
}

.inner-spin-button:focus {
  border-color: #83b3d3;
  outline: 0;
}

.inner-spin-button:focus .inner-spin-image {
  fill: #000000;
}

.inner-spin-button:active .inner-spin-image {
  fill: rgba(0, 0, 0, 0.2);
}

.inner-spin-button:active {
  border-color: transparent;
}

.adult {
  width: 288px;
}

.children {
  width: 230px;
}

.children .field-title {
  padding-right: 43px;
  width: 54px;
}

.input-container {
  position: relative;
  align-self: center;
}

.modal-search-button {
  font-family: "PT sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  padding: 7px 0;
}

.popover-info {
  position: absolute;
  top: 40px;
  right: -116px;
  width: 256px;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  min-height: 144px;
  background-color: #333333;
  box-sizing: border-box;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1;
  display: none;
}

.popover-info::before {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #333333;
  top: 0;
  margin-left: 97px;
  margin-top: -7px;
  transform: rotate(45deg);
  content: "";
}

.popover-info-content {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 18px 18px 18px 22px;
  margin: 0;
  text-align: left;
}

.info-button {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  top: 14px;
  left: 53px;
  right: 18px;
}

.info-button:hover > .popover-info {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 18px 18px 22px 22px;
  text-align: left;
}

.info-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.info-button:focus .info-icon {
  fill: #68A2CA;
}
