@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.blue-button {
  font-family: "PT Sans";
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.brown-button {
  font-family: "PT Sans";
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.main-index {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.reasons {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.welcome {
  background-image: url("../img/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.advantages {
  background-color: #83b3d31f;
}

.advantages-discription {
  color: #333333;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-1,
.advantages-2 {
  color: #ffffff;
  background-color: #83b3d3;
}

.food {
  background-color: #ffffff;
}

.road {
  background: #83b3d333;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}


.newsletter-email {
  background-color: #333333;
  background-image: url("../img/newsletter-email-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
}

.newsletter-email-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.social-button {
  background-color: #83b3d3;
}

.contacts-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

/* Каталог */

.catalog-filter-block {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../img/catalog/catalog-filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.main-catalog {
  text-align: left;
  color: #333333;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.control-label {
  font-weight: 400;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.product-card-rating {
  background: #f2f2f2;
  color: #333333;
  text-transform: uppercase;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.green-button {
  background-color: #7db54f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.button-reset {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: transparent;
}

.hotels-on-page {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-link,
.pagination-show-more,
.submit-button {
  font-size: 20px;
  line-height: 26px;
}

.newsletter-email-catalog {
  text-align: center;
  color: #000000;
}

.newsletter-email-discription-catalog {
  font-size: 22px;
  line-height: 26px;
}